
body  {
    background-color: rgb(247,211,220);
}

nav {
   
    background-color: rgb(247,211,220);
}


li :hover {
    color: rgb(220,53,69) !important;
}

/* Makes first img to be stuck on right side */
.row>* {
    padding-right: 0px !important;
}

img {
    width: 90%;
    max-height: 50rem;
}

.red {
    color: rgb(220,53,69);
}

h1 {
    font-size: 4rem !important;
    font-family: sans-serif;
}